.events_past {
    margin-left: auto;
    margin-right: auto;

    width: 745px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
}