.header_match {
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 940px;
    background: var(--base-09);
}

.flag_team {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 250px;
}


.match_header_team {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 2px;
}

.match_header_team img {
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.match_header_player {
    width: 80px;
    height: 80px;
    overflow: hidden;
    object-position: center;
    position: relative;
}

.match_header_player_logo {
    position: absolute;
    top: 0%;
    /* left: -3%; */

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 74px;
    width: 74px;
}

.match_header_player_logo img {
    width: 74px;
    height: 74px;

    user-select: none;
}

.match_header_player_crop img {
    width: 80px;
    height: 126px;
}

.match_header_team p {
    text-decoration: none;
    font-family: var(--text-medium-lcg);
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    color: white;
}

.match_header_team a {
    font-family: var(--text-medium-lcg);
    font-size: 20px;
    margin: 0px;
}

.container_time_match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 13px auto;
    height: 130px;
    width: 100%;
}

.container_time_match_time a {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--text-medium-lcg);
    color: white;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.container_time_match_date {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    margin-top: 16px;
    font-family: var(--text-regular-lcg);
}

.container_time_match_cup {
    color: #1cbcff;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-family: var(--text-regular-lcg);
}

.container_time_match_cup a {
    text-decoration: none;
    color: #1cbcff;
}

.container_time_match_cup a:hover {
    transition: color 0.2s 0s ease-in-out;
    color: #8dddff;
}

.container_time_match_live {
    color: white;
    font-family: var(--text-medium-lcg);
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}