.editor {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.editor img {
    /* width: 100%; */
    height: 100%;
}

.editor img:hover {
    transition: filter 0.3s 0s ease-in-out;
    filter: invert(66%) sepia(95%) saturate(557%) hue-rotate(94deg) brightness(143%) contrast(101%);
}