/*флаг и ник*/
.flag_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 3px;
}

.flag_name p {
    font-size: 12px;
    font-family: var(--text-regular-lcg);
    color: white;
    margin: 0;
}

.flag_name img {
    user-select: none;
}