.Header {
    background-color: var(--header);
    width: 100vw;
}

.Header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.Header-logo {
    display: block;
    height: 42px;
    width: 147px;
    margin-left: 32px;
    background-image: url('/public/img/web/LogoName.svg');
    background-size: cover;
    cursor: pointer;
}

.Navigation {
    flex: 1 0;
    height: 64px;
    margin: 0;
    padding: 10px;
    margin-left: 55px;
}

.Navigation-list {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding: 0;
}

.Navigation-list>.Navigation-link:last-child {
    margin-right: 0;
}

.Navigation-link {
    display: flex;
    font-family: var(--text-font);
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    text-decoration: none;
    height: 19px;
    font-size: 16px;

}

.Navigation-link a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-02);
    font-size: 16px;
}

.Navigation-link a:hover {
    color: white;
    transition: color 0.3s 0s ease-in-out;
}

.Login {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--text-font);
    margin-right: 14px;
    padding: 10px;

}

.Login-btn {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.Login-btn a {
    text-decoration: none;
}

.Login-btn-name {
    margin-right: 8px;
    color: var(--text-02);
    transition: color 0.3s 0s ease-in-out;
    font-size: 13px;
}

.Login-btn-name a {

    color: var(--text-02);
    transition: color 0.3s 0s ease-in-out;
    font-size: 14px;
}

.Login-btn-icon {
    display: flex;
}

.Login-btn-icon svg a text {
    margin-right: 10px;
    color: var(--text-02);
    transition: color 0.3s 0s ease-in-out;
    font-size: 13px;
}

.Login-btn-icon svg {
    fill: var(--text-02);
    color: var(--text-02);
    transition: fill 0.3s 0s ease-in-out;
}

.Login-btn:hover .Login-btn-name a {
    color: white;
}

.Login-btn:hover .Login-btn-icon svg {
    fill: var(--base-05);
}

.Authorized {
    box-sizing: border-box;
    user-select: none;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;

    width: 154px;
    height: 38px;

    background: var(--plashka);
    border: 1px solid var(--splash-window);
    border-radius: 100px;

    text-decoration: none;
}

.Authorized p {
    font-size: 12px;
    font-family: var(--text-semibold-lcg);
    color: white;
    text-decoration: none;
}

.Profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.exit_icon svg {
    fill: var(--text-02);
    color: var(--text-02);
    transition: fill 0.3s 0s ease-in-out;
}

.exit_icon:hover svg {
    fill: var(--base-05);
    cursor: pointer;
}

.empty_notification_icon svg {
    fill: var(--text-02);
    transition: fill 0.3s 0s ease-in-out;

}

.empty_notification_icon:hover svg {
    fill: white;
    cursor: pointer;
}

.nonEmpty_notification_icon svg {
    fill: var(--base-05);
    color: var(--text-02);
    transition: fill 0.3s 0s ease-in-out;
}

.nonEmpty_notification_icon:hover svg {
    fill: white;
    cursor: pointer;
}

.profile-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.bottom-margin {
    margin-bottom: 29px;
}